/* Global */
body {
    font-family: 'Special elite', arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  } 
  .container {
    width: 80%; 
    margin: auto;
    height: 0px;
  }
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px white, 0 0 40px white,
       0 0 50px yellow, 0 0 60px white, 0 0 70px black;
    }
    to {
      text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px black, 0 0 50px black,
       0 0 60px black, 0 0 70px black, 0 0 80px white;
    }
  }
 
/* fim GLOBAL */
/* Header */
  .header {
    background-color: white;
    height: 66px;
    padding-top: 0px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
  .title-header img{
    height: 57px;
    position: relative;
    margin-left: -100px;
    padding-top: 2px;
  } 
  /* fim HEADER */

  /* NAV */
 .nav ul {
  margin: 0;
  width: 100%;
}
.title-header{
    float: left;
}

.nav {
    float: center;
    width: 100%;
}
  
.nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Special Elite';
}

.nav h2 {
    font-size: 22px;
    text-align:center;
    margin-left: -90px;
}
.nav li{
    display: inline-block;
    padding: 0px 25px 0 30px;
} 
.nav li:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

 .nav img {
    height: 18px;
    width: 18px;
}
  .header audio {
    width: 197px;
    height: 50px;
    border-radius: 10px;
    float:right;
    padding: 8px;
}
  /* Fim NAV */

  /* SHOWCASE1 */
.showcase{ 
  background-image: url(../imagem/showcase1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 627px;
}
.showcase .container span {
  color:gold;
}
.showcase h1{
  margin: 0px;  
  font-size: 55px;
  color:white;
}

.showcase p{
  font-size: 22px;
  text-align: left;
  color:white;
}
.album1{
  background-color: rgba(0, 0, 0, 0.5);
  width: 1068px;
  height: 285px;
  border-radius: 10px;
}
.album1 img {
  width: 345px;
  height: 229px;
  padding: 1px;
  margin-top: 25px;
  border-radius: 10px;
  border-top: 5px;
  border: 1px solid #dbdbdb;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3;
}

.album1 img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* Fim SHOWCASE */

/* INICIO SHOWCASE2 */

.showcase2{ 
  background-image: url(../imagem/showcase2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  min-height: 627px;
  padding-top: 5px;
}
.showcase2 .container span {
  color:gold;
}

.showcase2 p {
  font-size: 22px;
  text-align: center;
  color: white; 
}
.showcase2 h5 {
  font-size: 35px;
  margin: 19px;
}
.album2 {
  background-color: rgba(0, 0, 0, 0.5);
}
.showcase2 .container video {
  width: 706px;
  height: 250px;
  float:left;
  margin: 4px;
}
.sabota {
  width: 100px;
  height: 100px;
  padding: 0px 96px 0px 0px;

}
.info {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1072px;
  height: 241px;
  border-radius: 10px;
  display:flex;
  justify-content: flex-start;
}
.info p {
  font-size: 20px;
  text-align: left;
  color:white;
  width: 494px;
  margin-left: 12px;
  margin-top: 19px;
  }
.info img {
  width: 270px;
  height: 200px;
  float:center;
  border: 1px solid black;
  margin: 21px 5px 0px 3px;
  border-radius: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3;
}
.info img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* FIM SHOWCASE2 */

/* INICIO SHOWCASE3 */
.showcase3 {
  background-image: url(../imagem/showcase3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  min-height: 647px;
  padding-top: 5px;
}
.showcase3 h5 {
  margin: 0px;  
  font-size: 50px;
  color:white;
}
.showcase3 p {
  font-size: 22px;
  text-align: left;
  color:white;
}
.info2 {
  text-align: left;
  width: 1069px;
  height: 283px;
  background-image: url(../imagem/duelo02-10-672x372.jpg);
  border: 1px solid black;
  border-radius: 10px;
}

.info2 video {
  width: 400px;
  height: 250px;
  float:left;
  margin: 17px;
}
.info2 iframe {
  width: 400px;
  height: 250px;
  float:left;
  margin: 17px;
}
.info2 b {
  font-size: 20px;
  justify-content: flex-start;
  display: flex;
  color:black;
  padding: 76px 0px 0px 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.info2 img {
  width: 110px;
  height: 110px;
  margin: 5px 5px 5px 25px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3;
}
.info2 img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* FIM SHOWCASE3 */

 /* QUEM SOMOS  */
 /* SHOWCASE 4 */
 .showcase4 { 
  background-image: url(../imagem/showcase4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 627px;
}
.showcase4 img {
  width: 200px;
  height: 200px;
}
.showcase4 p {
  font-size: 22px;
  text-align: left;
  color:white;
  margin: 0;
  padding: 10px 0px 0px 0px;
}
.showcase4 .container h2 {
  font-size: 22px;
  text-align: left;
  color:white;
  margin-left: 398px;
  margin-bottom: 9px;
  margin-top: 5px;
}
.equipe {
  width: 690px;
  height: 244px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 170px;
}
.equipe img {
  width: 250px;
  height: 220px;
  border: 1px solid black;
  float: left;
  margin: 11px 50px 0px 13px;
}
.equipe h3 {
  float: right;
  font-size: 19px;
  margin-right: 58px;
  color:white;
}
.sobre p {
  font-size: 15px;
  color: white;
  margin-right: 42px;
}
/* SHOWCASE 4 */

/* SHOWCASE 5 */
.showcase5 {
  background-image: url(../imagem/showcase5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 627px;
}
.showcase5 h2 {
  font-size: 34px;
  color:white;
  margin: 0;
  padding-top: 27px;
}
.sobremim {
  width: 1026px;
  height: 100px;
  background-color:rgba(0, 0, 0, 0.1);
  margin-top: 46px;
  border-radius: 20px;
  margin-left: 76px;

}
.sobremim img {
  width: 95px;
  height: 95px;
  float: left;
}
.sobremim p {
  float: top;
  font-size: 15px;
  color: white;
  margin-top: 83px;
  margin-left: 91px;
  margin-right: 196px;
}
.sobremim2 {
  width: 1026px;
  height: 100px;
  background-color:rgba(0, 0, 0, 0.1);
  margin-top: 46px;
  border-radius: 20px;
  margin-left: 85px;

}
.sobremim2 img {
  width: 95px;
  height: 95px;
  float: left;
}
.sobremim2 p {
  float: top;
  font-size: 15px;
  color: white;
  margin-top: 22px;
  margin-left: 91px;
  margin-right: 196px;
}
.sobremim3 {
  width: 1026px;
  height: 100px;
  background-color:rgba(0, 0, 0, 0.1);
  margin-top: 46px;
  border-radius: 20px;
  margin-left: 85px;

}
.sobremim3 img {
  width: 95px;
  height: 95px;
  float: left;
}
.sobremim3 p {
  float: top;
  font-size: 15px;
  color: white;
  margin-top: 22px;
  margin-left: 91px;
  margin-right: 196px;
}
/* SHOWCASE 5 */
/* Fim QUEM SOMOS */


/* Inicio Login */

.showcase6 {
  background-image: url(../imagem/showcase6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 697px;
  font-family: "Comfortaa", sans-serif
 }
 .login img {
   width: 100px;
   height: 100px;
 }
 .login {
   width: 320px;
   height: 420px;
   border: 2px solid #000;
   border-radius: 80px 0px 80px 0px;
   color: #fff;
   background-color: rgba(0, 0, 5, 0.8);
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 68px 28px;
 }
 .usuario {
   border-radius: 50%;
   position: absolute;
   top: -50px;
   left: 112px;
 }
 h6 {
   margin: 0;
   padding-top:0;
   padding-left: 0;
   padding-bottom: 20px;
   letter-spacing: 10px;
   text-transform: uppercase;
   text-align: center;
   font-size: 25px;
 }
 .login p {
   margin: 0;
   padding: 0;
   font-weight: bold;
 }
 .login input {
   width: 100%;
   margin-bottom: 21px;
 }
 .login input[type="login"], input[type="senha"] {
   border: none;
   border-bottom: 1px solid white;
   background:transparent;
   outline: none;
   height: 40px;
   color: white;
   font-size: 16px;
 }
 .login button {
  border: none;
  outline: none;
  height: 35px;
  color: white;
  border-radius: 20px;
  transition: 0.2s;
  margin-left: -1px;
  width: 210px;
}
.login button:hover {
  cursor:pointer;
  background: #ff4d4d;
  transition: 0.2s;
}
 .login a {
   font-weight: bold;
   text-decoration: none;
   font-size: 12px;
   line-height: 20px;
   color: #4b4b4b;
   transition: 0.2s;
 }
 .login a:hover {
   transition: 0.2s;
   color: white;
 }
/* FIM do Login */

/* Inicio cadastro */
.showcase7 {
  background-image: url(../imagem/showcase7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 697px;
  font-family: "Comfortaa", sans-serif
 }
 .cadastro img {
   width: 100px;
   height: 100px;
 }
 .cadastro {
   width: 320px;
   height: 465px;
   border: 2px solid #000;
   border-radius: 80px 0px 80px 0px;
   color: #fff;
   background-color: rgba(0, 0, 5, 0.8);
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
   box-sizing: border-box;
   padding: 68px 28px;
 }
 .usuario {
   border-radius: 50%;
   position: absolute;
   top: -50px;
   left: 112px;
 }
 h6 {
   margin: 0;
   padding-top:0;
   padding-left: 0;
   padding-bottom: 20px;
   letter-spacing: 10px;
   text-transform: uppercase;
   text-align: center;
   font-size: 25px;
 }
 .cadastro p {
   margin: 0;
   padding: 0;
   font-weight: bold;
 }
 .cadastro input {
   width: 100%;
   margin-bottom: 21px;
 }
 .cadastro input[type="email"] {
  border: none;
  border-bottom: 1px solid white;
  background:transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
 }
 .cadastro input[type="cadastro"], input[type="senha"] {
   border: none;
   border-bottom: 1px solid white;
   background:transparent;
   outline: none;
   height: 40px;
   color: white;
   font-size: 16px;
 }
 .cadastro button {
   border: none;
   outline: none;
   height: 35px;
   color: white;
   border-radius: 20px;
   transition: 0.2s;
   margin-left: -1px;
   width: 210px;
 }
 .cadastro button:hover {
   cursor:pointer;
   background: #ff4d4d;
   transition: 0.2s;
 }
 .cadastro a {
   font-weight: bold;
   text-decoration: none;
   font-size: 12px;
   line-height: 20px;
   color: #4b4b4b;
   transition: 0.2s;
   margin-left: 13px;
 }
 .cadastro a:hover {
   transition: 0.2s;
   color: white;
 }
/* Fim cadastro */

/* Inicio Albuns */
.showcase8{
    background-image: url(../imagem/showcase8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 627px;
}
.showcase8 .container h2 {
  font-size: 34px;
  text-align:center;
  margin: 0px;
  padding-top: 15px;
}
.album3 {
  width: 1108px;
  height: 244px;
  background-color: rgba(0, 0, 5, 0.8);
  text-align:center;
  margin-top: 30px;
}
.album3 img {
  width: 310px;
  height: 220px;
  border: 1px solid black;
  float: left;
  margin: 11px 14px 0px 13px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3;
}

.album3 img:hover {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.djonga h3 {
  float: top;
  font-size: 22px;
  color:white;
  padding-top: 16px;
}
.djonga p {
  font-size: 16px;
  color: white;
  margin:0px;
  display: flex;
  width: 761px;
}
.racionais h3 {
  float: top;
  font-size: 22px;
  color:white;
  padding-top: 16px;
}
.racionais p {
  font-size: 16px;
  color: white;
  margin:0px;
  display: flex;
  width: 761px;
}
/* Fim albuns */

/* Inicio Footer */
.footer {
  background-color: black;
  height: 45px;
}

.footer p {
  text-align: center;
  margin: 0px;
  padding: 12px;
  color: white;
  font-weight: 100;
}
/* Fim Footer */
