/* Global */
body {
    font-family: 'Special elite', arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  } 
  .container {
    width: 80%; 
    margin: auto;
    height: 0px;
  }
/* fim GLOBAL */
/* Header */
  .header {
    background-color: white;
    height: 66px;
    padding-top: 0px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
  .title-header img{
    height: 57px;
    position: relative;
    margin-left: -100px;
    padding-top: 2px;
  } 
  /* fim HEADER */

  /* NAV */
 .nav ul {
  margin: 0;
  width: 100%;
}

.title-header{
    float: left;
}

.nav {
    float: center;
    width: 100%;
}
  
.nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Special Elite';
}

.nav h2 {
    font-size: 22px;
    text-align:center;
    margin-left: -90px;
}
.nav li{
    display: inline-block;
    padding: 0px 25px 0 30px;
}

 .nav img {
    height: 18px;
    width: 18px;
}
  .header audio {
    width: 197px;
    height: 50px;
    border-radius: 10px;
    float:right;
    padding: 8px;
}
  /* Fim NAV */

  /* SHOWCASE1 */
.showcase{ 
  background-image: url(../imagem/showcase1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 627px;
}

.showcase h1{
  margin: 0px;  
  font-size: 55px;
  color:white;
}

.showcase p{
  font-size: 22px;
  text-align: left;
  color:white;
}
.album{
  background-color: rgba(0, 0, 0, 0.5);
  width: 1068px;
  height: 285px;
  border-radius: 10px;
}
.album img {
  width: 345px;
  height: 229px;
  padding: 1px;
  margin-top: 25px;
  border-radius: 10px;
  border-top: 5px;
  border: 1px solid #dbdbdb;

}
/* Fim SHOWCASE */

/* INICIO SHOWCASE2 */

.showcase2{ 
  background-image: url(../imagem/showcase2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  min-height: 627px;
  padding-top: 5px;
}
.showcase2 p {
  font-size: 22px;
  text-align: center;
  color: white;
  
}

.album2 {
  background-color: rgba(0, 0, 0, 0.5);
}
.showcase2 .container video {
  width: 706px;
  height: 250px;
  float:left;
}
.info {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1068px;
  height: 214px;
  border-radius: 10px;
}
.info p {
  font-size: 20px;
  text-align: left;
  color:white;
  margin: 26px 541px 0 12px;
}
.info img {
  width: 100px;
  height: 100px;
  float: right;
  display: none;
}
/* FIM SHOWCASE2 */

 /* QUEM SOMOS */
 .sobre{ 
  background-image: url(../imagem/quem-somos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:#FFA500;
  text-align: center;
  min-height: 560px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.sobre h1{
  margin: 0px;  
  font-size: 55px;
  padding-top: 13px;
}

.sobre p{
  font-size: 25px;
}

.footer container{
  width: 15px;
  height: 15px;
  background-color: yellow;

}

/* Fim QUEM SOMOS */


/* Login */

.login {
  background-image: url(../imagem/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:  white;
  text-align: "float: left";
  min-height: 560px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.login h1{
  margin: 0;
  text-align: top;
  font-size: 60px;
}

.login form{
  text-align: center;
}

.login input{
  text-align: center;
  height: 25px;
  width: 450px;
}

.btn-blue{
  background-color: #29e2c1;
  color: black;
  border-bottom: #29e2c1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  width: 180px;
  height: 30px;
}
/* FIM do Login */

/* Inicio Footer */
.footer {
  background-color: black;
  height: 27px;
}

.footer p {
  text-align: center;
  margin: 0px;
  padding: 3px;
  color: white;
  font-weight: 100;
}
/* Fim Footer */
